.nuevaClase {
    color: green;
    font-size: 25px;
}

.miclase1 {
    color: yellow;
    font-size: 25px;
}

.miclase2 {
    color: red;
    font-size: 25px;
}

.miclase3 {
    color: blue;
    font-size: 25px;
}